@import "~sanitize.css"
@import "vars.styl"
@import "header.styl"

body {
  background-color: black;
}

h1 {
  color: white;
}

.hello {
  background-color: yellow;

  .title {
    color: greenyellow;
  }

  .box {
    background-color: blue;

    h3 {
      font-size: 20px;
      color: white;
    }
  }
}
